<div class="container-header">
<app-header></app-header>
</div>
<div> 
    <h1 class="container-specials" >
        <p class="image-container">
            <img src="assets/Images/Image.png"  >
        </p>   
        <p class="container-description">
            Cheese pizza
        </p>   
        <div class="center">
            <app-button text="$$$" color="lightblue" ></app-button>
        </div>
    </h1>

    <h1 class="container-specials" >
        <p class="image-container">
            <img src="assets/Images/Image.png"  >
        </p>  
        <p class="container-description">
                Cheese pizza
        </p>     
        <div class="center">
            
            <app-button text="$$$" color="lightblue" ></app-button>
        </div>
    </h1>
    <h1 class="container-specials" >
        <p class="image-container">
            <img src="assets/Images/Image.png"  >
        </p>
        <p class="container-description">
            Cheese pizza
        </p>        
        <div class="center">
            <app-button text="$$$" color="lightblue" ></app-button>
        </div>
    </h1>
</div>
<div>
    <h1 class="container-specials" >
        <p class="image-container">
            <img src="assets/Images/Image.png"  >
        </p>     
        <p class="container-description">
            Cheese pizza
    </p>   
    <div class="center">
        <app-button text="$$$" color="lightblue" ></app-button>
    </div>
    </h1>
    <h1 class="container-specials" >
        <p class="image-container">
            <img src="assets/Images/Image.png"  >
        </p>    
        <p class="container-description">
            Cheese pizza
    </p>    
        <div class="center">
            <app-button text="$$$" color="lightblue" ></app-button>
        </div>
    </h1>
    <h1 class="container-specials" >
        <p class="image-container">
            <img src="assets/Images/Image.png"  >
        </p> 
        <p class="container-description">
            Cheese pizza
    </p>       
        <div class="center">
            <app-button text="$$$" color="lightblue" ></app-button>
        </div>
    </h1>
 </div>